.title-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
.navigation {
    display: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
.introduction {
    text-align: center;
}
h3 {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: 300;
    color: #a3a3a3;
}

/* Sam's Part */
.introduction__span {
    color: #1eafde;
}

/* Runns Part */
.services__card {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 32px;
}

.icon {
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 10px;
}
.services__card__container__content h5,
p {
    margin: 0;
}

.services__card__container__content h5 {
    margin-bottom: 10px;
}

.services__card__heading h5 {
    margin: 0 0 10px 0;
}
.services__card__description {
    font-size: 14px;
    margin: 0;
}

.latestWork__post__container {
    /* display: grid;
    place-items: center; */
    position: relative;
    width: 400px;
}

.red-box {
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: #e15b5b;
    color: white;

    padding: 12px 14px;
    text-align: center;
}

.photography {
    width: 100%;
    display: block;
}

.blue-box {
    width: 90%;
    padding: 16px 20px;

    background-color: #1fb6d9;
    color: white;
    margin-bottom: 10px;
}

.blue-box .latestWork__post__title .latestWork__post__subtitle {
    margin: 0;
}

.blue-box .latestWork__post__title {
    font-weight: bold;
}

.portfolio__post__container {
    display: grid;
    place-items: center;
    margin: auto;
}

.owner_picture {
    float: left;
    margin-top: 30px;
}

.founder__description {
    margin-top: 30px;
    font-size: 14px;
}

.founder__text__line {
    border-top: 3px solid rgb(249, 211, 0);
    width: 200px;
    margin-top: 20px;
}

.page__footer {
    background-color: rgb(20, 48, 93);
    padding: 0px;
    margin: auto;
    color: white;
}
