.title-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
.navigation {
    display: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.introduction {
    text-align: center;
}
h3 {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: 300;
    color: #a3a3a3;
}










































































































































































/* Sam's Part */
.introduction__span {
    color: #1EAFDE;
}

.services__card {
    display: flex;

}
