.title-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
.navigation {
    display: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.introduction {
    text-align: center;
}
h3 {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: 300;
    color: D3D3D3;
}
