.title-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
.navigation {
    display: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
.introduction {
    text-align: center;
}
h3 {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: 300;
    color: #a3a3a3;
}

/* Sam's Part */
.introduction__span {
    color: #1eafde;
}

.services__card {
    display: flex;
}

/* Runns Part */

.services__card__container {
    margin: 100px auto;
}

.services__card__image {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.services__card__heading {
}
