.title-header {
    display: flex; 
    align-items: center;
    gap: 8px;
}
.navigation {
    display: none;
} 

body {
    font-family: 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.introduction{

}